:root {
  --main-color: #de4396;
  --head-color: #2d3748;
  --subheader-color: #718096;
  --btn-color: #6675f7;
  --main-btn: #3d63ea;
  --content-color: #4a5568;
  --main-transtion: 0.5s;
  /* #406AFF */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.body {
  font-family: "Inter", sans-serif;
}
/* start header */
.header {
  background-color: #ffffff;
  height: 60px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 10%);
  font-family: "Inter", sans-serif;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  /* width: 180px;
  height: 59px; */
  width: 120px;
}
.header .list {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
}
.header .list a {
  font-size: 16px;
  color: var(--head-color);
}
.header .list a:hover {
  color: var(--main-color);
}
.header button {
  cursor: pointer;
  background: linear-gradient(to right, var(--main-color), #0d1c9f);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
.header .icon {
  display: none;
  cursor: pointer;
  font-size: 25px;
  transition: 0.5s;
}
.toggle-menu {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  top: 50px;
  background: #fafafa;
  font-weight: bold;
  width: 100%;
  right: 0;
  padding: 10px;
  color: white !important;
}

@media (max-width: 767px) {
  .header .list,
  .header button {
    display: none;
  }
}
@media (max-width: 767px) {
  .header .icon {
    display: flex;
  }
}
/* end header */
/* start landing */
.landing {
  margin-top: 80px;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.landing .content {
  font-family: "Inter", sans-serif;
}
.landing .content h1 {
  font-size: 40px;
  line-height: 0.95;
  margin-bottom: 20px;
}
.landing .content h1 span {
  font-size: 48px;
  background: -webkit-linear-gradient(var(--main-color), #0d1c9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing .content p {
  color: var(--subheader-color);
  font-size: 18px;
  margin-bottom: 40px;
}
.landing .content button {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--main-btn);
  color: white;
  transition: 0.3s;
}
.landing .content button:hover {
  background-color: var(--btn-color);
}
.landing .img img {
  position: relative;
  width: 476px;
  height: 470px;
  animation: up-and-down 4s linear infinite;
}
@media (max-width: 991px) {
  .landing .img img {
    display: none;
  }
}
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
/* end landing */
/* start services */
.services {
  margin-top: 80px;
  /* margin-bottom: 80px; */
  background-color: #f9f9ff;
  font-family: "Inter", sans-serif;
}
.services h1 {
  padding: 30px;
  margin: 30px;
  text-align: center;
  color: #1a202c;
  font-size: 35px;
}
.services .boxs {
  display: flex;
  /* height: 360px; */
  gap: 20px;
  overflow-x: auto;
}
.services .boxs::-webkit-scrollbar {
  width: 0;
}
.services .boxs .box {
  border: 1px solid #eee;
  padding: 20px;
  /* height: 250px; */
  /* box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 10%); */
}
/* .services .boxs .box.active {
  left: 50;
} */
.services .boxs .box i {
  font-size: 25px;
  border: 2px solid var(--main-color);
  padding: 12px;
  border-radius: 50%;
}
.services .boxs .box h2 {
  color: var(--head-color);
  width: 300px;
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.services .boxs .box p {
  color: var(--subheader-color);
  line-height: 1.6;
}
.services .dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.services .dots span {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 1px solid #cbd5e0;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 30px;
}

.active {
  background: -webkit-linear-gradient(var(--main-color), #0d1c9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}
.actives {
  border: 1px solid var(--main-color) !important;
  /* transform: translateX(50px); */
  margin: 20px;
  transition: 0.5s;
}
.dot {
  background: -webkit-linear-gradient(var(--main-color), #0d1c9f);
}

/* end services */
/* start about*/
.about {
  padding-top: 100px;
  padding-bottom: 70px;
  position: relative;
  overflow: hidden;
}
.about::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: -webkit-linear-gradient(left, var(--main-color), #0d1c9f);
  top: -25px;
  left: 80px;
}
.about::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: -webkit-linear-gradient(left, var(--main-color), #0d1c9f);
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.about .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 80px;
}
@media (max-width: 767px) {
  .about .content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.about .content .info {
  padding-top: 20px;
  position: relative;
}
.about .content .info::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background: -webkit-linear-gradient(left, var(--main-color), #0d1c9f);
  top: 0;
}
.about .content .info h2 {
  margin-bottom: 20px;
}
.about .content .info h2 span {
}
.about .content .info p {
  color: var(--subheader-color);
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 50px;
}
.about .content .info p span {
  color: var(--main-color);
}
.about .content .info .link {
  display: flex;
  gap: 10px;
}
.about .content .info .link a {
  background: -webkit-linear-gradient(var(--main-color), #0d1c9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}
.about .content .info .link i {
  background: -webkit-linear-gradient(var(--main-color), #0d1c9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  animation: moving-arrow 0.6s infinite linear;
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
.about .content .img {
  position: relative;
}
.about .content .img .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff57;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.about .content .img .icon i {
  font-size: 50px;
  background: -webkit-linear-gradient(var(--main-color), #0d1c9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about .content .img img {
  max-width: 100%;
  border-radius: 20px;
}
.about .box {
  position: relative;
  margin-top: 100px;
}
.about .box::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background: -webkit-linear-gradient(left, var(--main-color), #0d1c9f);
  top: -20px;
}
.about .box p {
  font-size: 20px;
  line-height: 1.6;
}
.about .box p span {
  font-weight: bold;
}
.about .btn {
  float: right;
  display: flex;
  gap: 10px;
}
.about .btn button {
  border: none;
  width: 30px;
  height: 30px;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  border: 2px solid #57007b;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.about .btn .prev-btn {
  color: #57007b;
  background-color: white;
}
.about .btn .next-btn {
  background: #57007b;
  color: white;
}
/* end about*/
/* start slider */
.slider {
  background-color: #f9f9ff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.slider .content {
  display: flex;
  gap: 50px;
  overflow-x: auto;
}
.slider .content::-webkit-scrollbar {
  width: 0;
}
/* end slider */
/* start review */
.review {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
}
.review .content {
  position: relative;
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
}
.review .content::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background: -webkit-linear-gradient(left, var(--main-color), #0d1c9f);
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.review .content h2 {
  text-align: center;
  line-height: 1.5;
}
.review .content h2 span {
  font-weight: lighter;
}
.review .content p {
  color: var(--subheader-color);
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin-top: 20px;
}
.review .pre-btn,
.review .nxt-btn {
  border: none;
  width: 30px;
  height: 30px;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  font-size: 20px;
  border: 2px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: -webkit-linear-gradient(var(--main-color), #0d1c9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 8;
}

.review .pre-btn {
  left: 50px;
}

.review .nxt-btn {
  right: 50px;
}
@media (max-width: 767px) {
  .review .pre-btn,
  .review .nxt-btn {
    display: none;
  }
}
.review .customers {
  display: flex;
  gap: 70px;
  margin: 50px 0;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.review .customers::-webkit-scrollbar {
  display: none;
}
.review .customers .customer {
  text-align: center;
}
.review .customers .customer img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.review .customers .customer .rate {
  color: #e3c005;
  margin: 20px 0;
}
.review .customers .customer h2 {
  font-size: 17px;
  margin-bottom: 5px;
  color: var(--content-color);
}
.review .customers .customer p {
  color: var(--subheader-color);
}
/* end review */
/* start studies */
.studies {
  background-color: #f9f9ff;
  padding-top: 100px;
  padding-bottom: 50px;
}
.studies .content {
  position: relative;
  margin: auto;
  padding-bottom: 50px;
}
.studies .content::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background: -webkit-linear-gradient(left, var(--main-color), #0d1c9f);
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.studies .content h2 {
  text-align: center;
  line-height: 1.5;
}
.studies .content h2 span {
  font-weight: lighter;
}
.studies .boxs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.studies .boxs .box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
@media (max-width: 767px) {
  .studies .boxs .box {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
.studies .boxs .box img {
  max-width: 100%;
}
.studies .boxs .box .info-1 {
  background-color: #f1f2ff;
  padding: 40px;
}
.studies .boxs .box .info-2 {
  background-color: #f0fff7;
  padding: 40px;
}
.studies .boxs .box .info-3 {
  background-color: #fff4f4;
  padding: 40px;
}
.studies .boxs .box h3 {
  margin-bottom: 20px;
}
.studies .boxs .box p {
  color: var(--subheader-color);
  line-height: 1.6;
}
.studies .boxs .box a {
  background: -webkit-linear-gradient(var(--main-color), #0d1c9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  float: right;
  margin-top: 50px;
}
.studies .boxs .box a i {
  font-size: 15px;
  margin-left: 5px;
}
/* end studies */
